$cellsize:    200px;
$cellheight:  ($cellsize /4);
$cellwidth:   ($cellsize /4);
$gridwidth:   $cellwidth * 9 + 2;
$gridheight:  $cellheight * 9 + 2;
$boardwidth:  $gridwidth + $cellwidth +1;
$boardheight: $gridheight + $cellheight;

$maskcolor: #997300;
$randommargin: 60px;

$stonepilespacing: $cellheight;

