@import 'dimensions';

.stone_pile {
  width: $stonewidth;
  height: $stoneheight;
  border-radius: 50%;
  position: relative;
  float: left;

  &__black {
    top: ($boardheight + $stonepilespacing);
    left: $centermargin + $randommargin + 10;
    position: absolute;
    background-color: black;
  }

  &__white {
    top: ($boardheight + $stonepilespacing);
    left: $centermargin + $randommargin + $stonepilespacing + 10;
    position: absolute;
    background-color: white;
  }
}

