body {
  background-color: #997300;
}
.nav, .nav-wrapper, .yeah {
  background-color: #86592d;
}

.demibold {
  font-family: "Avenir Next", "DemiBold";
  font-weight: bolder;
}

.ultralight {
  font-family: "Avenir Next", "UltraLight";
  font-weight: lighter;
  padding-right: 1px;
}

.normalbold {
  font-family: "Avenir Next", "DemiBold";
  font-weight: normal;
}

$cellheight: (150px/4);
$cellwidth: (150px/4);
$gridwidth: $cellwidth * 9 + 2;
$gridheight: $cellheight * 9 + 2;
$boardwidth: $gridwidth + $cellwidth +1;
$boardheight: $gridheight + $cellheight;

.cell {
  height: $cellheight;
  width: $cellwidth;
  background-color: #cc9900;
  border: 1px solid black;
  float: left;
}

.grid {
  width: $gridwidth;
  height: $gridheight;
  border: 1px solid black;
  margin: 0 auto; // center
  vertical-align: middle;
}

.board {
  width: $boardwidth;
  height: $boardheight;
  cursor: url('/black_stone.png') 42 42, auto;
}

.stone_pile {
  width: 100px;
  height: 100px;

  &__black {
    background-color: black;
    display: inline-block;
  }

  &__white {
    background-color: white;
    display: inline-block;
  }
}
