@import 'dimensions';
@import 'cell';
@import 'board';
@import 'stone_pile';

html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}

body {
  background-color: $maskcolor;
}
.nav, .nav-wrapper, .yeah {
  background-color: #86592d;
}

